@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS Example 8.8.2
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

body {
  padding-top: 60px;
}

.preview img {
    max-height:50px;
}

.filetype-icon {
    width: 20px;
    height: 20px;
}

table button.start {
    visibility: hidden;
}